<<<<<<< HEAD
.top-bar{
    background: #F0F0F0;
    height: 35px;
    font-size: 12px;
    z-index: 100;
    position: relative;
}

.top-bar .top-bar-left{
	margin-left: -20px;
}
.top-bar .top-bar-left>li{
	margin-left: 20px;
}

.top-bar .top-bar-right li {
    margin-left: 25px;
}



.top-bar .top-bar-left>li a, .top-bar .top-bar-right>li a{
	color: #7e7e7e;
}
.top-bar .top-bar-left>li a:hover, .top-bar .top-bar-right>li a:hover{
	color: #C81623;
}

.top-bar .top-bar-left>li, .top-bar .top-bar-right>li {
    float: left;
    display: inline-block;
    line-height: 35px;
    height: 35px;
    color: #7E7E7E;
    position: relative;
}



/*=====================购物车小图标=================*/
.top-bar .top-bar-right li .icon-cart{
	width: 18px;
	height: 18px;
	top: 8.5px;
	background: url(../img/icons/sprite-top-icon-cart.png);
	position: relative;
	margin-right: 5px;
}
/*==================购物车数量================*/
.top-bar .top-bar-right li .num {
    margin-left: 5px;
    color: #C81417;
    font-weight: bold;
}




/*===================main=======================*/
main{
    /*border-bottom: 1px solid #e6e6e6;*/
    background: #fff;
}
main .top-main-content {
    height: 171px;
}
/*=============logo==============*/
main .top-main-logo a{
	display: block;
	width: 190px;
	height: 68px;
	background: url(../img/logo.png) no-repeat;
	text-indent: -99999px;
}
/*===========搜索框============*/
main .itop-sh {
    position: absolute;
    top: 30px;
    left: 355px;
    width: 450px;
    height: 80px;
    display: block;
}
.itop-sh-up {
    width: 460px;
    height: 36px;
    background: url(../img/top-main-search.png) no-repeat;
}
.itop-k {
    float: left;
    display: block;
}
.itop-k input{
	width: 368px;
	line-height: 30px;
	height: 33px;
	border: none;
	padding-left: 10px;
	margin-top: 1px;
	margin-left: 2px;
	outline: 0;
	color: #999;
}

.itop-bt {
    float: right;
    margin-right: 2px;
    margin-top: 0;
    display: block;
}
.itop-bt input{
	font-family: "黑体","Hiragino Sans GB";
    font-size: 16px;
    color: #fff;
    background: 0 0;
    width: 78px;
    border: none;
    height: 35px;
    line-height: 35px;
    cursor: pointer;
    outline: none;
}

/*============热门搜索============*/
.itop-sh-list {
	font-size: 12px;
    margin-top: 10px;
    height: 21px;
    overflow: hidden;

}
.itop-sh-list dl dt {
    color: #666;
    float: left;
}
.itop-sh-list dl dd {
    float: left;
    margin-right: 15px;
}
.itop-sh-list dl dd a{
	color: #999;
}
.itop-sh-list dl dd a:hover{
	color: #f34;
}


/*===========================top-nav============================*/
.top-nav {
    margin-top: -45px;
    font-family: "黑体","Hiragino Sans GB";
    z-index: 95;
    position: relative;
}
.top-nav .top-nav-cont .top-select {
    width: 230px;
    position: relative;
}
.top-nav .top-nav-cont .top-select .top-select-tit {
    line-height: 45px;
    height: 45px;
    color: #fff;
    position: relative;
    font-size: 16px;
    text-align: center;
    cursor: default;
    margin: -20px -20px 0;
    z-index: 95;
    padding: 20px 0 0;
    overflow: hidden;
    cursor: pointer;
}
.top-nav .top-nav-cont .top-select .top-select-tit .red-bg {
	display: block;
    position: absolute;
    border-bottom: 1px solid #c81417;
    background: #c81417;
    z-index: -100;
    left: 20px;
    right: 20px;
    top: 20px;
    bottom: 0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
	box-shadow: 0 0 20px rgba(0,0,0,0.13);
}
.top-nav .top-nav-cont .top-select .top-select-tit .white-triangle{
	position: absolute;
    left: 169px;
    right: 0;
    top: 32px;
    bottom: 0;
    z-index: 9999;
    margin-left: 6px;
    display: inline-block;
    width: 16px;
    height: 16px;
    background: url(../img/icons/fl.png) no-repeat;
    background-position: -27px -214px;
}


.top-nav .top-nav-cont .top-nav-ul>li {
    float: left;
    display: inline-block;
    line-height: 45px;
    height: 45px;
    padding: 0 20px;
    font-size: 16px;
}
.top-nav .top-nav-cont .top-nav-ul>li a{
	color: #000;
}
.top-nav .top-nav-cont .top-nav-ul>li a.active {
    color: #C81417;
}
.top-nav .top-nav-cont .top-nav-ul>li a:hover{
	color: #C81417;
}
.top-nav .top-nav-cont .top-nav-ul>li .tips{
	font-size: 16px;
	font-style: normal;
	color: #fff;
	background: #C81417;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	padding: 0 3px;
	text-align: center;
}
=======
.top-bar{
    background: #F0F0F0;
    height: 35px;
    font-size: 12px;
    z-index: 100;
    position: relative;
}

.top-bar .top-bar-left{
	margin-left: -20px;
}
.top-bar .top-bar-left>li{
	margin-left: 20px;
}

.top-bar .top-bar-right li {
    margin-left: 25px;
}



.top-bar .top-bar-left>li a, .top-bar .top-bar-right>li a{
	color: #7e7e7e;
}
.top-bar .top-bar-left>li a:hover, .top-bar .top-bar-right>li a:hover{
	color: #C81623;
}

.top-bar .top-bar-left>li, .top-bar .top-bar-right>li {
    float: left;
    display: inline-block;
    line-height: 35px;
    height: 35px;
    color: #7E7E7E;
    position: relative;
}



/*=====================购物车小图标=================*/
.top-bar .top-bar-right li .icon-cart{
	width: 18px;
	height: 18px;
	top: 8.5px;
	background: url(../img/icons/sprite-top-icon-cart.png);
	position: relative;
	margin-right: 5px;
}
/*==================购物车数量================*/
.top-bar .top-bar-right li .num {
    margin-left: 5px;
    color: #C81417;
    font-weight: bold;
}




/*===================main=======================*/
main{
    /*border-bottom: 1px solid #e6e6e6;*/
    background: #fff;
}
main .top-main-content {
    height: 171px;
}
/*=============logo==============*/
main .top-main-logo a{
	display: block;
	width: 190px;
	height: 68px;
	background: url(../img/logo.png) no-repeat;
	text-indent: -99999px;
}
/*===========搜索框============*/
main .itop-sh {
    position: absolute;
    top: 30px;
    left: 355px;
    width: 450px;
    height: 80px;
    display: block;
}
.itop-sh-up {
    width: 460px;
    height: 36px;
    background: url(../img/top-main-search.png) no-repeat;
}
.itop-k {
    float: left;
    display: block;
}
.itop-k input{
	width: 368px;
	line-height: 30px;
	height: 33px;
	border: none;
	padding-left: 10px;
	margin-top: 1px;
	margin-left: 2px;
	outline: 0;
	color: #999;
}

.itop-bt {
    float: right;
    margin-right: 2px;
    margin-top: 0;
    display: block;
}
.itop-bt input{
	font-family: "黑体","Hiragino Sans GB";
    font-size: 16px;
    color: #fff;
    background: 0 0;
    width: 78px;
    border: none;
    height: 35px;
    line-height: 35px;
    cursor: pointer;
    outline: none;
}

/*============热门搜索============*/
.itop-sh-list {
	font-size: 12px;
    margin-top: 10px;
    height: 21px;
    overflow: hidden;

}
.itop-sh-list dl dt {
    color: #666;
    float: left;
}
.itop-sh-list dl dd {
    float: left;
    margin-right: 15px;
}
.itop-sh-list dl dd a{
	color: #999;
}
.itop-sh-list dl dd a:hover{
	color: #f34;
}


/*===========================top-nav============================*/
.top-nav {
    margin-top: -45px;
    font-family: "黑体","Hiragino Sans GB";
    z-index: 95;
    position: relative;
}
.top-nav .top-nav-cont .top-select {
    width: 230px;
    position: relative;
}
.top-nav .top-nav-cont .top-select .top-select-tit {
    line-height: 45px;
    height: 45px;
    color: #fff;
    position: relative;
    font-size: 16px;
    text-align: center;
    cursor: default;
    margin: -20px -20px 0;
    z-index: 95;
    padding: 20px 0 0;
    overflow: hidden;
    cursor: pointer;
}
.top-nav .top-nav-cont .top-select .top-select-tit .red-bg {
	display: block;
    position: absolute;
    border-bottom: 1px solid #c81417;
    background: #c81417;
    z-index: -100;
    left: 20px;
    right: 20px;
    top: 20px;
    bottom: 0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
	box-shadow: 0 0 20px rgba(0,0,0,0.13);
}
.top-nav .top-nav-cont .top-select .top-select-tit .white-triangle{
	position: absolute;
    left: 169px;
    right: 0;
    top: 32px;
    bottom: 0;
    z-index: 9999;
    margin-left: 6px;
    display: inline-block;
    width: 16px;
    height: 16px;
    background: url(../img/icons/fl.png) no-repeat;
    background-position: -27px -214px;
}


.top-nav .top-nav-cont .top-nav-ul>li {
    float: left;
    display: inline-block;
    line-height: 45px;
    height: 45px;
    padding: 0 20px;
    font-size: 16px;
}
.top-nav .top-nav-cont .top-nav-ul>li a{
	color: #000;
}
.top-nav .top-nav-cont .top-nav-ul>li a.active {
    color: #C81417;
}
.top-nav .top-nav-cont .top-nav-ul>li a:hover{
	color: #C81417;
}
.top-nav .top-nav-cont .top-nav-ul>li .tips{
	font-size: 16px;
	font-style: normal;
	color: #fff;
	background: #C81417;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	padding: 0 3px;
	text-align: center;
}
>>>>>>> cc23603557d4f8e414ce3aa31a32c618863240ec
